
*{
    margin: 0;
}
.section1, .frontpage{
    background-image: url(img/IN-en-20230724-popsignuptwoweeks-perspective_alpha_website_e.jpg);
    
}
.box1 {
    
    width: 100%;
    height: 100%;
    background-color: transparent;
    filter: brightness(50%);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
    align-items: center;
    
}
.netflix{
    color: red;
    font-size: 50px;
    font-weight: bolder;
}
.language, .signin {
    width: 90px;
    height: 30px;
    color: white;
    border-radius: 5px;
}
.language {
    background-color: transparent;
    font-size: medium;
    border-style: inset;
}
.signin{
    /* width: 90px;
    height: 30px; */
    padding: 6px 24px;
    background-color: red;
    text-decoration: none;
    border-style: hidden;
    font-size: medium;
    font-weight: 600;
}
.details, .paragraph, .section2, .questions , .signin{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 180px 0;
}
.paragraph{
    font-size: 20px;
    color: white;
    text-align: center;
}
.line1{
    color: white;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bolder;
    /* display: block; */
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
.line2 {
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0;
    color: white;
}
input{
    width: 350px;
    height: 50px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
}
.getstarted{
    width: 200px;
    height: 54px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-style: hidden;
    font-size: 1.5rem;
    font-weight: bold;
}
.section2{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding:0 200px;
    height: 500px;
    width: auto;
}
.second-details{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    

}
.questions{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.defult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    font-size: 20px;
    max-width: inherit;
    height: 70px;
    background-color: rgb(35, 35, 35);
    border: hidden;
    box-sizing: content-box;
    text-align: left;
    color: white;
    margin: 10px 200px;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 10px 0 50px;
}


.frontpage{
    width: 100%;
    height: 800px;
}
.logo{
    padding: 2rem;
}

.box{
    width: 450px;
    height: 500px;
    margin-left: 30%;
    margin-bottom: 10%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    opacity: 70%;
    align-items: center;
    background-color: black;

}
.login{
    height: 3rem;
    width: 78%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}
#inputmail{
    background-color: grey;
    border: none;
}

/* video {
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
