
*{
    margin: 0;
}
.section1, .frontpage{
    background-image: url(img/IN-en-20230724-popsignuptwoweeks-perspective_alpha_website_e.jpg);
    background-size: cover;
}
.box1 {
    
    width: 100%;
    height: 100%;
   background-color: rgb(0,0,0,0.7);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
    align-items: center;
    
}
.netflix{
    color: red;
    font-size: 50px;
    font-weight: bolder;
}
.language, .signin {
    width: fit-content;
    min-width: 90px;
    height: 30px;
    color: white;
    border-radius: 5px;
}
.language {
    background-color: transparent;
    font-size: medium;
    border-style: inset;
    border-color: white;
}
.signin{
    /* width: 90px;
    height: 30px; */
    padding: 6px 24px;
    background-color: red;
    text-decoration: none;
    border-style: hidden;
    font-size: medium;
    font-weight: 600;
}
.details, .paragraph, .section2, .questions ,.box, .signin{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 180px 0;
}
.paragraph{
    font-size: 20px;
    color: white;
    text-align: center;
}
.line1{
    color: white;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bolder;
    /* display: block; */
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
.line2 {
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0;
    color: white;
}
input{
    width: 350px;
    height: 50px;
    color: white;
    background-color: rgb(35, 35, 35,0.3);
    border-radius: 5px;
    border-color: #b3b3b3;
    border-width: 1px;
    padding: 3px 10px;
}
.getstarted{
    width: 200px;
    height: 54px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-style: hidden;
    font-size: 1.5rem;
    font-weight: bold;
}
.video1{
    position: absolute;
    right: 251px;
    
    
}
.video2{
    position: absolute;
    right: 280px;
}
.tvimg {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 300px;

}
.section2{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding:0 200px;
    height: 500px;
    width: auto;
}
.second-details{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    

}
.questions{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.defult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    font-size: 20px;
    max-width: inherit;
    height: 70px;
    background-color: rgb(35, 35, 35);
    border: hidden;
    box-sizing: content-box;
    text-align: left;
    color: white;
    margin: 10px 200px;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 10px 0 50px;
}


.frontpage{
    width: 100%;
    height: 800px;
}
.logo{
    padding: 2rem;
}

.box{
    width: 450px;
    height: 500px;
    margin-left: 30%;
    margin-bottom: 10%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    /* opacity: 70%; */
    align-items: center;
    background-color: rgb(0,0,0,0.7);

}
.login{
    height: 3rem;
    width: 100%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}
#inputmail{
    background-color: rgb(61, 59, 59);
    border: none;

}
.rememberme {
    color: #b3b3b3;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 170px;

}
.lastline{
    color: #b3b3b3;
    text-align: left;
    display: flex;
    margin-right: 150px
}
h3{
    color: white;
    font-size: 1rem;
}
.lastline1{
    color: #b3b3b3;
    margin-left:40px ;
}
.lastline1 a{
    color: blue;
    text-decoration: none;

}

/* video {
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
